---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';
import '../styles/aboutUs.css';
---

<html lang="en">
<BaseHead/>
<body>
  <Header/>

  <main class="about-main">
    <h1 class="about-header">About Us</h1>

    <section class="us-section">

        <!-- Ethan's -->
        <div class="bio">
            <div style="float: left; margin-left: 30px; margin-right: 20px;">
                <h1>Ethan Guerin</h1>
                <a href="/"><img src="/images/Ethan.png" alt="Ethan" class="pic"></a>
            </div>
            
                <p style="margin-left: 20px; margin-right: 20px; margin-top:160px;">
                    Ethan Guerin is going for his Bachelor's in Computer Science, and has a minor in Business Administration. He graduates
                    in 2025, and hopes to earn a job in the industry that allows him to both learn more about the industry itself, and to
                    make connections with others who share similar goals. Using his experience in Java, C#, C++, and SQL, he hopes to create
                    interesting and complicated products. The most enjoyable part of programming for Ethan is the challenge,
                    and he hopes to be challenged in his career.
                </p>
        </div>

        <!-- Kevin's -->
        <div class="bio">
            <div style="float: right; margin-left: 20px; margin-right: 30px;">
                <h1>Kevin Flannery</h1>
                <a href="/"><img src="/images/Kevin.png" alt="Kevin"  class="pic"></a>
            </div>
                <p style="margin-left: 20px; margin-right: 20px; margin-top:160px">
                    Kevin Flannery is a Senior at Eastern Washington University on track to receive his BCS in Computer Science in Spring 2025.
                    He has most experience with Java and Python, is proficient with relational databases and has an understanding of
                    machine learning concepts. Post graduation he plans on looking or jobs that offer a work from home option.
                </p>
        </div>

        <!-- Trevors's -->
        <div class="bio" style="float:left; margin-left: 30px; margin-right: 20px;"><!-- Idk why I had to specify mine different to format like this -->
            <div style="float:left; margin-left: 30px; margin-right: 20px;"></div>
                <h1>Trevor Stewart</h1>
                <a href="/"><img src="/images/Trevor.png" alt="Trevor"  class="pic"></a>
            </div>
                <p style="margin-left: 20px; margin-right: 20px; margin-top:180px; margin-bottom: 50px;">
                    Trevor Stewart is a Senior at Eastern Washington University and plans to graduate with a BCS with a minor in
                    Cyber Security in the Spring of 2025. Most of his experience is with Java and C# but has worked with Python
                    and SQL as well. After graduation he hopes to pick up any job he can get so he can continue to expand his
                    knowledge and improve his skills within the field.
                </p>
        </div>

        <!-- Kyle's -->
        <div class="bio">
            <div style="float: right; margin-left: 20px; margin-right: 30px;">
                <h1>Kyle Wong</h1>
                <a href="/"><img src="/images/Kyle.png" alt="Kyle"  class="pic"></a>
            </div>
                <p style="margin-left: 20px; margin-right: 20px; margin-top:160px">
                    Kyle Wong is going for his BCS degree and should finish his courses and graduate in 2025 his general expertise
                    is in Java and and a bit in Python, he has some experience in HTML and has taken a variety of classes so far
                    between SFCC and at EWU. By graduation he hopes to have learned enough to be proficient in many different coding
                    languages and a lot of different technological fields, in order to have lots of doors open for the future.
                    He hopes to get a job connecting to his degree in order to further progress his knowledge and competencies.
                </p>
        </div>


        <!-- Justin's -->
        <div class="bio">
            <div style="float: left; margin-left: 30px; margin-right: 20px;">
                <h1>Justin Mitchell</h1>
                <a href="/"><img src="/images/Justin.png" alt="Justin"  class="pic"></a>
            </div>
                <p style="margin-left: 20px; margin-right: 20px; margin-top:160px">
                    Justin Mitchell is a Senior at Eastern Washington University and will graduate with a BCS in Computer Science
                    in Winter of 2024. After graduation he intends to pursue a career that focuses on Front end development.
                    He has expertise in user experience design, web development, java, javascript, and front end frameworks.
                </p>
        </div>
        
    </section>

  </main>

  <Footer/>
  
</body>
</html>