---
import '../styles/aboutUs.css';
import Header from '../components/Header.astro';
---
<!DOCTYPE html>
<html lang="""en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-widht, initial-scale=1.0">
		<title>About Us - BiteShare</title>
		<link rel="stylesheet" href="../styles/aboutUs.css">
	</head>
	<body>
	</header>
		<Header />
			<div class="navbar">
				<img src="../assets/logo.png" alt="BiteShare Logo" class="logo">
				<button class="create-post">+ CREATE POST</button>
				<nav>
					<a href="/">Home</a>
					<a href="/profile">Profile</a>
					<a href="/contact">Contact</a>
				</nav>
				<div class="search-container">
					<input type="text" placeholder="Search">
					<button>SEARCH</button>
				</div>
				<button class="sign-in">SIGN IN/SIGN UP</button>
			</div>
		</header>

		<main>
			<section class="mission">
				<he>Our Mission</h2>
					<p>At BiteShare, we envision a world where cooking is not just a daily task but a delightful journey. We believe that food has the power to connect people, transcend cultures, and create lasting memories. Our platform is designed to foster a global community where everyone, from home cooks to professional chefs, can exchange recipes, tips, and inspiration.</p>
				</section>

				<section class="contact-us"><h2>Contact Us</h2>
				</section>
