---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { fetchRecipes } from '../dataFetch';
import BaseHead from '../components/BaseHead.astro';
import "../styles/browse.css"
---


<html lang="en">
<BaseHead/>
<body>
  <Header/>
  <main class="browse-main">
    
    <h1>What You Want?</h1>
    
    <div class="create-browse-container">
      
      <!-- clicking search will take you to results page -->
      <form id="createQuery" action='/results' method='GET'>

        <label for="searchParam">Search by:</label>
          <select name="searchParam" id="searchParam" required>
            <option value="" disabled selected>-select-</option>
            <option value="Tags">Tags</option>
            <option value="Ingredients">Ingredients</option>
            <option value="Title">Title</option>
            <option value="Author">Author</option>
            <option value="PrepTime">Prep Time (minutes)</option>
            <option value="CookTime">Cook Time (minutes)</option>
            <option value="Servings">Servings</option>
          </select>
        
        <!-- searchOperator only works for non array based searches -->
        <label for="searchOperator">Operator: </label>
          <select name="searchOperator" id="searchOperator">
            <option value="" disabled selected>-select-</option>
            <option value="==">Equals</option>
            <option value="!=">Not Equals</option>
            <option value="<=">Less or Equals</option>
            <option value=">=">Greater or Equals</option>
          </select>
        
        <p id="element">Tags and Ingredients must be comma seperated. Range operators only apply to numeric searches :)</p>
        
        <label for="searchItem"> Input Search Element(s)</label>
        <input type="text" id="searchItem" name="searchItem" required>
        
        <button type="submit">Search!</button>
        
      </form>

    </div>

  </main>
  <Footer/>
  <script type="module" src="/browse.js"></script>
</body>
</html>