---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';
import "../styles/createPost.css"
---

<html lang="en">
<BaseHead />
<body>
  <Header />
  <main class="create-post-main">
    <h1>Create a Recipe Post</h1>
    <div class="create-post-container">
      <form id="createPostForm">
        <input id="title" type="text" placeholder="Title" required />
        <input id="author" type="text" placeholder="Author" required />
        <input id="image" type="text" placeholder="Image URL" required />
        <textarea id="instructions" placeholder="Instructions" required></textarea>
        <input id="ingredients" type="text" placeholder="Ingredients (comma separated)" required />
        <input id="prepTime" type="text" placeholder="Prep Time" required />
        <input id="cookTime" type="text" placeholder="Cook Time" required />
        <input id="servings" type="number" placeholder="Servings" required />
        <input id="tags" type="text" placeholder="Tags (comma separated)" required />
        <input id="subtitle" type="text" placeholder="Subtitle" required />
        <button type="submit">Create Post</button>
        <p id="createPostErrorMessage"></p>
        <p id="createPostSuccessMessage"></p>
      </form>
      
      <p class="error" id="createPostErrorMessage"></p>
      <p class="success" id="createPostSuccessMessage"></p>
    </div>
  </main>
  <Footer />
  <script src="../scripts/createPost.js"></script>
</body>
</html>
