---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Recipe {
  title: string;
  description: string;
}

const response = await fetch('http://localhost:8080/api/recipes');

const recipes: Recipe[] = await response.json();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
			<h1>BiteShare Recipes</h1>
			<ul>
			  {recipes.map(recipe => (
				<li>
				  <h2>{recipe.title}</h2>
				  <p>{recipe.description}</p>
				</li>
			  ))}
			</ul>
		<Footer />
	</body>
</html>
