---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';
import "../styles/profile.css";
import { auth } from '../firebaseConfig';
import { getDoc, doc } from 'firebase/firestore';
import { db } from '../firebaseConfig';

interface UserProfile {
    username: string;
    email: string;
    profilePicture: string;
    bio: string;
}

let userId: string | null = null;
let userProfile: UserProfile | null = null;

const fetchUserProfile = new Promise<void>((resolve) => {
    auth.onAuthStateChanged(async (user) => {
        if(user){
            userId = user.uid;
            console.log("User ID: ", userId);

            const userDoc = await getDoc(doc(db, "users", userId));
            if(userDoc.exists()){
                userProfile = userDoc.data() as UserProfile;
                userProfile.username = userProfile.username || '';
                userProfile.profilePicture = userProfile.profilePicture || '';
                userProfile.bio = userProfile.bio || '';
                console.log("User Profile: ", userProfile);
            } else {
                console.error("User document does not exist");
            }
        } else {
            console.error("User is not logged in");
        }
        resolve();
    });
});

await fetchUserProfile;
---

<html lang="en">
<BaseHead />
<body>
<main class="profile-main">
    <h1>User Profile</h1>
    {userProfile ? (
    <div class="profile-container">
        <form id="profileForm">
        <label for="username">Username</label>
        <input type="text" id="username" value={userProfile.username} required />

        <label for="email">Email</label>
        <input type="email" id="email" value={userProfile.email} readonly />

        <label for="profilePicture">Profile Picture URL</label>
        <input type="text" id="profilePicture" value={userProfile.profilePicture} />

        <label for="bio">Bio</label>
        <textarea id="bio" required>{userProfile.bio}</textarea>
        
        <button type="button" onclick="handleProfileUpdate()">Update Profile</button>
        </form>
        <p class="error" id="profileErrorMessage"></p>
        <p class="success" id="profileSuccessMessage"></p>
    </div>
    ) : (
    <p>Account not found</p>
    )}
    </main>
    <Footer />
    <script type="module" src="/scripts/profile.js"></script>
</body>
</html>