---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';
import "../styles/results.css"
import { testLab } from 'firebase-functions';
---


<html lang="en">
<BaseHead/>
<body>

  <script>
    import type { OrderByDirection, WhereFilterOp } from "firebase-admin/firestore";
    import { initializeApp } from "firebase/app";
    import { getFirestore, or, orderBy } from "firebase/firestore";
    import { collection, getDocs, limit, query, where, doc } from 'firebase/firestore';
    

    //Initialize db
    const firebaseConfig = {
    apiKey: import.meta.env.PUBLIC_FIREBASE_API_KEY,
    authDomain: import.meta.env.PUBLIC_FIREBASE_AUTH_DOMAIN,
    projectId: import.meta.env.PUBLIC_FIREBASE_PROJECT_ID,
    storageBucket: import.meta.env.PUBLIC_FIREBASE_STORAGE_BUCKET,
    messagingSenderId: import.meta.env.PUBLIC_FIREBASE_MESSAGING_SENDER_ID,
    appId: import.meta.env.PUBLIC_FIREBASE_APP_ID,
    measurementId: import.meta.env.PUBLIC_FIREBASE_MEASUREMENT_ID
    };

    const app = initializeApp(firebaseConfig);
    const db = getFirestore(app);


    let output = (document.getElementById("outputId") as HTMLInputElement);

    //Gather the parameters from the url
    const params = new URLSearchParams(window.location.search.slice(1));
    let searchParam = params.get("searchParam")!;
    let searchItem = params.get("searchItem")!;
    let searchOperator = params.get("searchOperator")!;

    if(searchOperator == null || searchOperator === "") searchOperator = '==';//default to equals search if empty
    
    const result : any[] = [];
    let constraints : any[] = [];


    //Create the correct query
    if(searchParam === "Ingredients" || searchParam === "Tags"){
      searchOperator = 'array-contains-any';
      let searchItems = searchItem.split(",").map(x => x.trim());
      constraints = [collection(db, 'recipes'),  where(searchParam, searchOperator as WhereFilterOp, searchItems), limit(20)];
    }
    else if(searchParam === "Title" || searchParam === "Author"){
      if(searchOperator != '!=') searchOperator = '==';//Can only work with equals or not equals
      constraints = [collection(db, 'recipes'), where(searchParam, searchOperator as WhereFilterOp, searchItem), limit(20)];
    }
    else{//For all the range possible options: servings and times
      constraints = [collection(db, 'recipes'),  where(searchParam, searchOperator as WhereFilterOp, Number(searchItem)), limit(20)];
    }

    output.value =  "Loading...";

      //Try to pull the query from the db
      try {
        const q = query.apply(this, constraints);
        const querySnapshot = await getDocs(q);
        const docSnapshots = querySnapshot.docs;

        //Load er' up!
        for (var i in docSnapshots) {
          const doc = docSnapshots[i].data();
          result.push(doc);
        }
      } catch (error) {
          console.error("idk something happened");
      }

    //Display search result json size
    const resultSize = result.length;
    output.value = "Result Size:" + resultSize.toString();
    
    //Create the code which displays the recipe cards that were in the json we got
    let htmlCode = buildDisplayCode(result);
    document.getElementById("elements")!.innerHTML = htmlCode;


    function buildDisplayCode(json) {
      //Start be stating the search conditions
      var htmlCode = "<h1>Search: " + searchParam + " " + searchOperator + " " + searchItem + "</h1>";

      if(json.length <= 0) return "<p>No recipes found.</p>";

      //Create a display card for each recipe in the json
      for(var recipe in json){
        htmlCode += "<article class=\"recipe-card\">";
          htmlCode += "<img src=" + json[recipe].Image + " alt=" + json[recipe].Title + " class=\"recipe-image\" />";
          htmlCode += "<div class=\"recipe-content\">";
            htmlCode += "<h2><a href=/recipes/" + json[recipe].Slug + ">" + json[recipe].Title + "</a></h2>";
            htmlCode += "<p>Chef " + json[recipe].Author + "</p>";
            htmlCode += "<p>" + json[recipe].Subtitle + "</p>";
          htmlCode += "</div>";
        htmlCode += "</article>";
      }

      return htmlCode;
    }

  </script>

  <Header/>
  <main class="results-main">

    <!-- Displays "Loading" before displaying the number of matching results -->
    <input id="outputId" value="" readonly>

    <!-- The elements paragraph will be changed to display results once the query has been processed -->
    <section class="recipes-section">
      <p id="elements"> </p>
    </section>

  </main>
  <Footer/>
</body>
</html>