
.about-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242C26; /* Dark background color */
    padding: 20px;
  }
  
  .mission-section {
    background-color: #14902A; /* Green background color */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    color: white;
    max-width: 800px;
    width: 100%;
  }
  
  .mission-section h1 {
    margin-bottom: 10px;
  }
  
  .contact-section {
    background-color: #14902A; /* Green background color */
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    color: white;
    max-width: 800px;
    width: 100%;
  }
  
  .contact-section h2 {
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: auto;
  }
  
  .contact-form button {
    background-color: #14902A; /* Green color for the Send Message button */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  