.create-browse-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  
}

.create-browse-container {
  max-width: 820px; /*Good sizing on container*/
  background-color: #14902A;
  padding: 20px;
  padding-top:5px;
  border-radius: 8px;
  display:block; /*These couple of lines here and below*/
  margin-left: auto; /*Center the blocks in browse*/
  margin-right: auto;
  margin-bottom: 50px; /*Magins so it looks nice*/
  margin-top: 50px;
}

.create-browse-container label {
  display: block;
  margin: 10px 0 5px;
}

.create-browse-container input,
.create-browse-container textarea {
  width: 100%; /*Making the text boxes not be super long*/
  max-width: 800px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-browse-container button {
  background-color: #14902A;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.create-browse-container button:hover {
  background-color: #117b20;
}

.create-browse-container .error {
  color: red;
}