/* post.css */

.post-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .post-meta {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .post-meta span {
    background-color: #14902A;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .post-image {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .post-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
  }
  
  .post-directions,
  .post-ingredients {
    width: 48%;
  }
  
  .post-tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .tag {
    background-color: #14902A;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  