---
import "../styles/footer.css";
---

<footer class="footer">
  <div class="footer-container">
    <p>&copy; 2024 BiteShare. All rights reserved.</p>
    <ul class="footer-links">
      <li><a href="/">Home</a></li>
      <li><a href="/aboutUs">About Us</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</footer>


  