---
import "../styles/global.css";
---
<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2024 BiteShare. All rights reserved.</p>
    <div class="footer-links">
      <a href="/" class="footer-link">Home</a>
      <a href="/about" class="footer-link">About Us</a>
      <a href="/profile" class="footer-link">Profile</a>
      <a href="/contact" class="footer-link">Contact</a>
    </div>
  </div>
</footer>


  