---
import '../styles/header.css';
import '../styles/global.css';
---

<header>
  <div class="headerWrapper">
    <div class="header">
      <div class="header-container">
        <div class="logo">
          <a href="/"><img src="/images/Logo.png" alt="Biteshare Logo"></a>
        </div>
        <nav class="nav">
          <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li id="profile-link" class="hidden"><a href="/profile">Profile</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/browse">Browse</a></li>
          </ul>
        </nav>
        <button class="create-post hidden" id="create-post"><a href="/createPost" class="create-post">+ Create Post</a></button>
        <div class="auth" id="auth-container">
          <a href="/signin" id="signin-signup-link" class="auth-button hidden">Sign In/Sign Up</a>
          <button id="signout-button" class="auth-button hidden">Sign Out</button>
        </div>
      </div>
    </div>
    <div class="green-bar"></div>
  </div>
  <!-- Ensure the script is included to handle auth state on every page -->
  <script type="module" src="/src/scripts/auth.js"></script>
</header>
